## **<font color=#8e44ad>Merging files together</font>**

In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append('..')

In [3]:
features = pd.read_csv("../../group_project/features.csv")
stores = pd.read_csv("../../group_project/stores.csv")
df = pd.read_csv("../../group_project/train.csv")

In [4]:
data = pd.merge(df.drop(columns=['IsHoliday']), features, on=['Store', 'Date'])

In [5]:
full_data = pd.merge(data, stores, on=['Store'])

In [12]:
output_path = '../data/walmart_sales.csv'
full_data.to_csv(output_path, index=False)

A function to create a train and a test file

In [7]:
def split_file_train_test(input_file, train_ratio=0.8):

    with open(input_file, 'rb') as f:
        content = f.read()
        file_size = len(content)
        train_size = int(file_size * train_ratio)

        # Create directory to store the split files
        import os
        output_dir = '../data'
        os.makedirs(output_dir, exist_ok=True)

        # Write train and test parts into separate CSV files
        train_content = content[:train_size]
        test_content = content[train_size:]

        train_filename = os.path.join(output_dir, 'train.csv')
        test_filename = os.path.join(output_dir, 'test.csv')

        with open(train_filename, 'wb') as train_file:
            train_file.write(train_content)

        with open(test_filename, 'wb') as test_file:
            test_file.write(test_content)

        print('Train and test files created successfully.')

In [13]:
split_file_train_test('../data/walmart_sales.csv', train_ratio=0.8)

Train and test files created successfully.

In [19]:
def split_file(input_file, num_parts):
    
    with open(input_file, 'rb') as f:
        content = f.read()
        file_size = len(content)
        part_size = file_size // num_parts

        # Create directory to store the split files
        import os
        output_dir = '../data'
        os.makedirs(output_dir, exist_ok=True)

        # Write each part into separate CSV files
        for i in range(num_parts):
            start_index = i * part_size
            end_index = start_index + part_size
            if i == num_parts - 1:  # Last part might be larger if file_size is not divisible by num_parts
                end_index = file_size
            part_content = content[start_index:end_index]
            part_filename = os.path.join(output_dir, f'test_part_{i + 1}.csv')
            with open(part_filename, 'wb') as part_file:
                part_file.write(part_content)

        print(f'{num_parts} parts created successfully.')

In [14]:
train_data = pd.read_csv('../data/train.csv')

/var/folders/x9/wfxfy30n21j10t1dqkkhfjjm0000gn/T/ipykernel_5365/1892195746.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  train_data = pd.read_csv('../data/train.csv')

In [15]:
train_data.head()

,Store,Dept,Date,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Type,Size
0,1,1,2010-02-05,24924.50,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315.0
1,1,2,2010-02-05,50605.27,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315.0
2,1,3,2010-02-05,13740.12,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315.0
3,1,4,2010-02-05,39954.04,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315.0
4,1,5,2010-02-05,32229.38,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315.0

In [17]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336241 entries, 0 to 336240
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         336241 non-null  int64
 1   Dept          336241 non-null  int64
 2   Date          336241 non-null  object
 3   Weekly_Sales  336240 non-null  float64
 4   Temperature   336240 non-null  float64
 5   Fuel_Price    336240 non-null  float64
 6   MarkDown1     118342 non-null  float64
 7   MarkDown2     92772 non-null   float64
 8   MarkDown3     109136 non-null  float64
 9   MarkDown4     114090 non-null  float64
 10  MarkDown5     118539 non-null  float64
 11  CPI           336240 non-null  float64
 12  Unemployment  336240 non-null  float64
 13  IsHoliday     336240 non-null  object
 14  Type          336240 non-null  object
 15  Size          336240 non-null  float64
dtypes: float64(11), int64(2), object(3)
memory usage: 41.0+ MB

In [20]:
split_file('../data/walmart_sales.csv', 10)

10 parts created successfully.